#titulo{
    color: blue;
    background-color: crimson;
    font-size: 50px;
}


#subtitulo{
    color: blue;
    background-color: crimson;
    font-size: 45px;
}


#titulo-1{
    color: blue;
    background: coral;
    font-size: 40px;
}

#titulo-2{
    color: blue;
    background-color: coral;
    font-size: 40px;
}



#titulo-3{
    color: blue;
    background: coral;
    font-size: 40px;
    font-family: sans-serif;

}


#titulo-4{
    color: blue;
    background-color: coral;
    font-size: 40px;
}


#titulo-5{
    color: blue;
    background-color: coral;
    font-size: 40px;
}
